body {
    font-family: sans-serif;
}

.login-form {
    background-color: lightgray;
    border-radius: 1em;
    width: 50%;
    margin: auto;
    padding: 2em;
    gap: 1em;
    display: grid;
}

.login-form fieldset {
    width: fit-content;
    border-radius: 1em;
    margin: auto;
}


button {
    width: fit-content;
    margin: auto;
    border: none;
    padding: 1em;
    border-radius: 1em;
}

button:hover {
    cursor: pointer;
}

.resumen-carrito {
    display: flex;
    gap: 20px;
}

.producto-carrito {
    background-color: lightblue;
    width: fit-content;
    padding: 1em;
}