.inline-div {
    border: 2px solid;
    display: inline;
}

.block-span {
    border: 2px solid;
    display: block;
}

a {
    border: 2px solid;
    display: inline-block;
    padding:  1em;
    width: 50vw;
}

.img-text {
    border: 2px solid;
}

.img-text img {
    display: block;
    float: left;
}

.img-text caption {
    clear: left;
}